{% extends 'base.html.twig' %}

{% block title %}Genre Guestbook{% endblock %}

{% block body %}
    <main>

        <section class="py-5 text-center container">
            <div class="container col-md-8">
                <h2>Трейлеры фильмов смотреть онлайн</h2>
                <p class="card-text mb-auto">Вы любите смотреть трейлеры онлайн и проводите много времени, прочесывая сайты в поисках чего-нибудь интересного?</p>
                Коллекция постоянно пополняется как новыми фильмами, так и признанными шедеврами прошлых лет!
            </div>
            <div class="selection row py-lg-5">
                <div class="col-md-3">
                    <label for="genre" class="form-label">Жанр</label>
                    <select class="form-select" id="genre" required="">
                        <option value="">Choose...</option>
                        {% for genre in genres %}
                            <option value="{{ genre.id }}">{{ genre }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="subgenre" class="form-label">Поджанр</label>
                    <select class="form-select" id="subgenre" name="subgenre" required="">
                        <option>Choose...</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="country" class="form-label">Страна</label>
                    <select class="form-select" id="country" required="">
                        <option value="">Choose...</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="year" class="form-label">Год</label>
                    <select class="form-select" id="year" required="">
                        <option value="">Choose...</option>

                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>
                <script>
                    $("#genre").change(function () {
                        var id_genre = $(this).val();
                        var token = $("input[name='_token']").val();
                        console.log(id_genre);

                        $.ajax({
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            },
                            url: "films",
                            method: 'POST',
                            data: {id_genre: id_genre, _token:token},
                            success: function (data) {
                                $("#subgenre").empty()
                                $("#subgenre").html(data);
                            }
                        });
                    });
                </script>
            </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-body-secondary">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}